
   {% extends 'web/base.html' %}
   {% load static %}
   {% block content %}
     
      <!--Section Start-->
      <div class="sigma_banner light-bg style-6">
         <div class="banner-slider-inner">
            <div class="sigma_banner-text">
               <div class="container">
                  <div class="row align-items-center">
                     <div class="col-lg-6">
                        <h1 class="title">
                           STEEL FURNITURE FACTORY
                        </h1>
                        <p>Wholesale Manufacturing & Trading</p>
                        <div class="banner-links">
                           <a href="about.html" class="sigma_btn">Get Started</a>
                        </div>
                     </div>
                     <div class="col-lg-6">
                        <div class="sigma_banner-slider-3">
                           <div class="slide-item">
                              <img src="{% static 'web/img/home-1/400x250.jpg' %}" alt="img">
                           </div>
                           <div class="slide-item">
                              <img src="{% static 'web/img/home-1/400x250-0.jpg' %}" alt="img">
                           </div>
                           <div class="slide-item">
                              <img src="{% static 'web/img/home-1/400x250-1.jpg' %}" alt="img">
                           </div>
                           <div class="slide-item">
                              <img src="{% static 'web/img/home-1/400x250-2.jpg' %}" alt="img">
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!--Section End-->
      <!--Section Start-->
      <div class="sigma_preloader sigma_preloader-gear">
         <div class="sigma_preloader-inner">
            <div class="preloader-gear">
               <div class="preloader-gear-inner">
                  <div>
                     <div>
                     </div>
                     <div>
                     </div>
                     <div>
                     </div>
                     <div>
                     </div>
                     <div>
                     </div>
                     <div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!--Section End-->
      <!--Section Start-->
      <div class="section">
         <div class="container">
            <div class="row">
               <div class="col-lg-5">
                  <div class="sigma_about style-9 w-100 h-100">
                     <div class="sigma_about-image-1">
                        <img src="{% static 'web/img/home-1/445x485.jpg' %}" alt="img">
                     </div>
                     <div class="sigma_media m-0">
                        <span>
                        <b class="counter" data-from="0" data-to="25">25</b>
                        Years of <br> Experience
                        </span>
                     </div>
                  </div>
               </div>
               <div class="col-lg-6 offset-lg-1">
                  <div class="sigma_about style-9 mt-5 mt-lg-0">
                     <div class="section-title">
                        <span class="subtitle">About us</span>
                        <h3 class="title">The Wholesale Dealers Of Steel Furniture</h3>
                     </div>
                     <div class="sigma_about-content">
                        <p>Our vision is to be a leading global customised steel furniture provider. We will strive to attract, develop and retain the quality in every products and to deliver outstanding products for our customers.</p>
                        <div class="row">
                           <div class="col-md-6">
                              <div class="sigma_info style-15">
                                 <div class="sigma_info-title">
                                    <span class="sigma_info-icon bg-primary-1 text-white">1</span>
                                 </div>
                                 <div class="sigma_info-description">
                                    <h5>
                                       Quality Steels
                                    </h5>
                                    <p>We use only top-grade steels to make attractive furnitures.</p>
                                 </div>
                              </div>
                           </div>
                           <div class="col-md-6">
                              <div class="sigma_info style-15">
                                 <div class="sigma_info-title">
                                    <span class="sigma_info-icon bg-primary-1 text-white">2</span>
                                 </div>
                                 <div class="sigma_info-description">
                                    <h5>
                                       Attractive Designs
                                    </h5>
                                    <p>Every furniture will look awesome with attractive custom designs.</p>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="d-sm-flex d-block align-items-center">
                           <a href="contact-us.html" class="sigma_btn">Get A Quote</a>
                           <div class="video-box">
                              <a href="https://www.youtube.com/watch?v=EEJFMdfraVY" class="sigma_video-btn popup-video">
                              <i class="far fa-play"></i>
                              </a>
                              <span>video about <br> Our Work</span>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!--Section End-->
      <!--Section Start-->
      <div class="section section-padding pt-0">
         <div class="container">
            <div class="section-title centered">
               <h3 class="title">Our Products</h3>
               <p>Matanah Furniture Factory is one of the well-known steel furniture manufacturing factory based in Riyadh. Take a look at our awesome steel products and accompanied products along with it.</p>
            </div>
            <div class="row">
               <div class="col-lg-6">
                  <div class="sigma_category style-2">
                     <a href="shop.html">
                     <img src="{% static 'web/img/home-1/540x600.jpg' %}" alt="category">
                     </a>
                     <div class="sigma_category-content">
                        <span>Beddings</span>
                     </div>
                  </div>
               </div>
               <div class="col-lg-6">
                  <div class="row">
                     <div class="col-12">
                        <div class="sigma_category style-2">
                           <a href="shop.html">
                           <img src="{% static 'web/img/home-1/540x285.jpg' %}" alt="category">
                           </a>
                           <div class="sigma_category-content">
                              <span>Cabinet</span>
                           </div>
                        </div>
                     </div>
                     <div class="col-12">
                        <div class="sigma_category style-2">
                           <a href="shop.html">
                           <img src="{% static 'web/img/home-1/540x285-0.jpg' %}" alt="category">
                           </a>
                           <div class="sigma_category-content">
                              <span>Customised Product</span>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!--Section End-->
      <!--Section Start-->
      <div class="modal fade" id="sigma_popup-newsletter" tabindex="-1" role="dialog" aria-hidden="true">
         <div class="modal-dialog sigma_newsletter-popup-modal style-4 modal-dialog-centered" role="document">
            <div class="modal-content">
               <div class="modal-body dark-overlay bg-cover bg-center" style="background-image: url({% static 'web/img/newsletter.jpg' %})">
                  <div class="sigma_close light newsletter-popup-trigger" data-dismiss="modal">
                     <span></span>
                     <span></span>
                  </div>
                  <div class="sigma_newsletter-popup-text-wrapper">
                     <h3 class="text-white">Join Our Tableletter</h3>
                     <p>Sed porttitor lectus nibh. Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Curabitur aliquet quam id dui posuere.</p>
                  </div>
                  <form method="post" class="text-center">
                     <div class="form-group">
                        <input type="email" placeholder="Email Address" class="form-control" name="newsletter-email" value="">
                     </div>
                     <button type="submit" name="button">Subscribe</button>
                     <span class="sigma_newsletter-popup-dismiss newsletter-popup-trigger" data-dismiss="modal">Don't show again</span>
                  </form>
               </div>
            </div>
         </div>
      </div>
      <!--Section End-->
      <!--Section Start-->
  <div class="section section-padding pt-0">
    <div class="container">
      <div class="section-title centered">
         <h3 class="title">Matanah Team</h3>
         <p>We have a team of dedicated workers
who strive to deliver quality products for customers</p>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-6">
          <div class="sigma_team">
            <div class="sigma_team-thumb has-width">
              <a href="#">
                <img src="{% static 'web/img/about/120x120.jpg' %}" class="rounded-circle" alt="team">
              </a>
            </div>
            <div class="sigma_team-body">
              <h5>

                  <a href="#">Tim Abell</a>

                </h5>
              <div class="sigma_team-categories">
                <a href="#" class="sigma_team-category">CEO</a>
              </div>
              <p>Wooden House Construction and Woodworks</p>
              <ul class="sigma_social-icons">
                <li>
                  <a href="#"><i class="fab fa-facebook-f"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fab fa-twitter"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fab fa-instagram"></i></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="sigma_team">
            <div class="sigma_team-thumb has-width">
              <a href="#">
                <img src="{% static 'web/img/about/120x120-0.jpg' %}" class="rounded-circle" alt="team">
              </a>
            </div>
            <div class="sigma_team-body">
              <h5>

                  <a href="#">Mike Hussy</a>

                </h5>
              <div class="sigma_team-categories">
                <a href="#" class="sigma_team-category">Project Manager</a>
              </div>
              <p>Wooden House Construction and Woodworks</p>
              <ul class="sigma_social-icons">
                <li>
                  <a href="#"><i class="fab fa-facebook-f"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fab fa-twitter"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fab fa-instagram"></i></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="sigma_team">
            <div class="sigma_team-thumb has-width">
              <a href="#">
                <img src="{% static 'web/img/about/120x120-1.jpg' %}" class="rounded-circle" alt="team">
              </a>
            </div>
            <div class="sigma_team-body">
              <h5>

                  <a href="#">Jhon Delly</a>

                </h5>
              <div class="sigma_team-categories">
                <a href="#" class="sigma_team-category">Deliver Manager</a>
              </div>
              <p>Wooden House Construction and Woodworks</p>
              <ul class="sigma_social-icons">
                <li>
                  <a href="#"><i class="fab fa-facebook-f"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fab fa-twitter"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fab fa-instagram"></i></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--Section End-->
      <!--Section Start-->
      <div class="section pt-0">
         <div class="container">
            <div class="row justify-content-center">
               <div class="col-md-10">
                  <div class="sigma_cta">
                     <span class="sigma_cta-icon-box">
                     <i class="flaticon-wood"></i>
                     </span>
                     <div class="section-title centered">
                        <h3 class="title">Get Your Customised <span class="primary-color">Steel Furnitures</span></h3>
                        <p>Wooden House Construction and Woodworks</p>
                     </div>
                     <div class="sigma_cta-buttons justify-content-center align-items-center">
                        <button type="button" class="secondary">Download App</button>
                        <button type="button">Subscribe</button>
                     </div>
                     <div class="sigma_cta-image mt-5">
                        <img src="{% static 'web/img/home-1/920x500.jpg' %}" class="w-100" alt="img">
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!--Section End-->
      <!--Section Start-->
      <div class="section pt-0">
         <div class="container">
            <div class="section-title centered">
               <h3 class="title">Fun Facts</h3>
               <p>Wooden make your house becomes your warm home with the spectacular furniture.</p>
            </div>
            <div class="row no-gutters justify-content-center">
               <div class="col-lg-2 col-sm-3">
                  <div class="sigma_counter text-center style-2 border-0">
                     <i class="flaticon-woodworking text-white"></i>
                     <span class="justify-content-center">
                     <b class="counter text-white" data-from="0" data-to="575">575</b>
                     <span class="plus text-white">+</span>
                     </span>
                     <p class="text-white mb-0">CompProjects</p>
                  </div>
               </div>
               <div class="col-lg-2 col-sm-3">
                  <div class="sigma_counter text-center style-2">
                     <i class="flaticon-carpenter text-white"></i>
                     <span class="justify-content-center">
                     <b class="counter text-white" data-from="0" data-to="250">250</b>
                     </span>
                     <p class="text-white mb-0">Workers</p>
                  </div>
               </div>
               <div class="col-lg-2 col-sm-3">
                  <div class="sigma_counter text-center style-2">
                     <i class="flaticon-award text-white"></i>
                     <span class="justify-content-center">
                     <b class="counter text-white" data-from="0" data-to="520">520</b>
                     <span class="plus text-white">+</span>
                     </span>
                     <p class="text-white mb-0">Awards</p>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!--Section End-->
      <!--Section Start-->
      <div class="section section-padding pt-0">
         <div class="container">
            <div class="section-title centered">
               <h3 class="title">Our Products</h3>
               <p>Hurry! offer ends</p>
            </div>
            <div class="row">
               <!-- Product Start -->
               <div class="col-lg-3 col-md-4 col-sm-6">
                  <div class="sigma_product style-5">
                     <div class="sigma_product-thumb">
                        <img src="{% static 'web/img/shop/500-0.jpg' %}" alt="product">
                        <a href="#" data-toggle="modal" data-target="#quickViewModal">Quick View</a>
                     </div>
                     <div class="sigma_product-body">
                        <h5 class="sigma_product-title"> <a href="product-details.html">Wooden Chair</a> </h5>
                        <div class="sigma_product-price">
                           <span>29$</span>
                           <span>49$</span>
                        </div>
                        <div class="sigma_rating">
                           <i class="fas fa-star"></i>
                           <i class="fas fa-star"></i>
                           <i class="fas fa-star"></i>
                           <i class="fas fa-star"></i>
                           <i class="fas fa-star"></i>
                        </div>
                        <p>Whatever you need Wood , hardwood, tile, laminate you will find it here. Our staff is here to help you design the look you want and our team of installers will add the finishing touches.</p>
                     </div>
                     <div class="sigma_product-footer">
                        <a href="#" class="sigma_btn btn-sm light" data-toggle="tooltip" title="Wishlist"> <i class="m-0 far fa-heart"></i>
                        </a>
                        <a href="#" class="sigma_btn btn-sm">Add to Cart</a>
                        <a href="#" class="sigma_btn btn-sm light" data-toggle="tooltip" title="Compare"> <i class="m-0 far fa-signal-4"></i>
                        </a>
                     </div>
                  </div>
               </div>
               <!-- Product End -->
               <!-- Product Start -->
               <div class="col-lg-3 col-md-4 col-sm-6">
                  <div class="sigma_product style-5">
                     <div class="sigma_product-thumb">
                        <img src="{% static 'web/img/home-1/500-0.jpg' %}" alt="product">
                        <a href="#" data-toggle="modal" data-target="#quickViewModal">Quick View</a>
                     </div>
                     <div class="sigma_product-body">
                        <h5 class="sigma_product-title"> <a href="product-details.html">wooden Lamp</a> </h5>
                        <div class="sigma_product-price">
                           <span>29$</span>
                           <span>49$</span>
                        </div>
                        <div class="sigma_rating">
                           <i class="fas fa-star"></i>
                           <i class="fas fa-star"></i>
                           <i class="fas fa-star"></i>
                           <i class="fas fa-star"></i>
                           <i class="fas fa-star"></i>
                        </div>
                        <p>Whatever you need wood, hardwood, tile, laminate you will find it here. Our staff is here to help you design the look you want and our team of installers will add the finishing touches.</p>
                     </div>
                     <div class="sigma_product-footer">
                        <a href="#" class="sigma_btn btn-sm light" data-toggle="tooltip" title="Wishlist"> <i class="m-0 far fa-heart"></i>
                        </a>
                        <a href="#" class="sigma_btn btn-sm">Add to Cart</a>
                        <a href="#" class="sigma_btn btn-sm light" data-toggle="tooltip" title="Compare"> <i class="m-0 far fa-signal-4"></i>
                        </a>
                     </div>
                  </div>
               </div>
               <!-- Product End -->
               <!-- Product Start -->
               <div class="col-lg-3 col-md-4 col-sm-6">
                  <div class="sigma_product style-5">
                     <div class="sigma_product-thumb">
                        <img src="{% static 'web/img/home-1/500-1.jpg' %}" alt="product">
                        <a href="#" data-toggle="modal" data-target="#quickViewModal">Quick View</a>
                     </div>
                     <div class="sigma_product-body">
                        <h5 class="sigma_product-title"> <a href="product-details.html">Wooden Sofa</a> </h5>
                        <div class="sigma_product-price">
                           <span>29$</span>
                           <span>49$</span>
                        </div>
                        <div class="sigma_rating">
                           <i class="fas fa-star"></i>
                           <i class="fas fa-star"></i>
                           <i class="fas fa-star"></i>
                           <i class="fas fa-star"></i>
                           <i class="fas fa-star"></i>
                        </div>
                        <p>Whatever you need Wood, hardwood, tile, laminate you will find it here. Our staff is here to help you design the look you want and our team of installers will add the finishing touches.</p>
                     </div>
                     <div class="sigma_product-footer">
                        <a href="#" class="sigma_btn btn-sm light" data-toggle="tooltip" title="Wishlist"> <i class="m-0 far fa-heart"></i>
                        </a>
                        <a href="#" class="sigma_btn btn-sm">Add to Cart</a>
                        <a href="#" class="sigma_btn btn-sm light" data-toggle="tooltip" title="Compare"> <i class="m-0 far fa-signal-4"></i>
                        </a>
                     </div>
                  </div>
               </div>
               <!-- Product End -->
               <!-- Product Start -->
               <div class="col-lg-3 col-md-4 col-sm-6">
                  <div class="sigma_product style-5">
                     <div class="sigma_product-thumb">
                        <img src="{% static 'web/img/home-1/500-2.jpg' %}" alt="product">
                        <a href="#" data-toggle="modal" data-target="#quickViewModal">Quick View</a>
                     </div>
                     <div class="sigma_product-body">
                        <h5 class="sigma_product-title"> <a href="product-details.html">Wooden Round Table</a> </h5>
                        <div class="sigma_product-price">
                           <span>29$</span>
                           <span>49$</span>
                        </div>
                        <div class="sigma_rating">
                           <i class="fas fa-star"></i>
                           <i class="fas fa-star"></i>
                           <i class="fas fa-star"></i>
                           <i class="fas fa-star"></i>
                           <i class="fas fa-star"></i>
                        </div>
                        <p>Whatever you need Wood, hardwood, tile, laminate you will find it here. Our staff is here to help you design the look you want and our team of installers will add the finishing touches.</p>
                     </div>
                     <div class="sigma_product-footer">
                        <a href="#" class="sigma_btn btn-sm light" data-toggle="tooltip" title="Wishlist"> <i class="m-0 far fa-heart"></i>
                        </a>
                        <a href="#" class="sigma_btn btn-sm">Add to Cart</a>
                        <a href="#" class="sigma_btn btn-sm light" data-toggle="tooltip" title="Compare"> <i class="m-0 far fa-signal-4"></i>
                        </a>
                     </div>
                  </div>
               </div>
               <!-- Product End -->
            </div>
         </div>
      </div>
      <!--Section End-->
      <!--Section Start-->
      <div class="section section-padding pt-0">
         <div class="container">
            <div class="section-title centered">
               <h3 class="title">Our Blog</h3>
               <p>You read now our latest news and artical.</p>
            </div>
            <div class="row">
               <div class="col-lg-4 col-md-6">
                  <article class="sigma_post style-3">
                     <div class="sigma_post-thumb">
                        <a href="blog-details.html">
                        <img src="{% static 'web/img/home-1/350x250.jpg' %}" alt="img">
                        </a>
                     </div>
                     <div class="sigma_post-body">
                        <div class="sigma_post-meta">
                           <ul>
                              <li>
                                 <a href="#"><b>Personal</b></a>
                              </li>
                              <li>2 min read</li>
                           </ul>
                        </div>
                        <div class="sigma_post-content">
                           <h5>
                              <a href="blog-details.html">Wood Repair and Maintain safe now in the rantain.</a>
                           </h5>
                        </div>
                        <div class="sigma_post-meta">
                           <ul>
                              <li class="author">
                                 <img src="{% static 'web/img/home-1/40x40.jpg' %}" alt="author">
                                 <a href="#"><b>Susan Lopez</b></a>
                              </li>
                              <li>
                                 <a href="blog-details.html">Nov 6, 2021</a>
                              </li>
                           </ul>
                        </div>
                     </div>
                  </article>
               </div>
               <div class="col-lg-4 col-md-6">
                  <article class="sigma_post style-3">
                     <div class="sigma_post-thumb">
                        <a href="blog-details.html">
                        <img src="{% static 'web/img/home-1/350x250-0.jpg' %}" alt="img">
                        </a>
                     </div>
                     <div class="sigma_post-body">
                        <div class="sigma_post-meta">
                           <ul>
                              <li>
                                 <a href="#"><b>Personal</b></a>
                              </li>
                              <li>2 min read</li>
                           </ul>
                        </div>
                        <div class="sigma_post-content">
                           <h5>
                              <a href="blog-details.html">Woodworker treak truned into furniture for exhibition.</a>
                           </h5>
                        </div>
                        <div class="sigma_post-meta">
                           <ul>
                              <li class="author">
                                 <img src="{% static 'web/img/home-1/40x40-0.jpg' %}" alt="author">
                                 <a href="#"><b>Susan Lopez</b></a>
                              </li>
                              <li>
                                 <a href="blog-details.html">Nov 6, 2021</a>
                              </li>
                           </ul>
                        </div>
                     </div>
                  </article>
               </div>
               <div class="col-lg-4 col-md-6">
                  <article class="sigma_post style-3">
                     <div class="sigma_post-thumb">
                        <a href="blog-details.html">
                        <img src="{% static 'web/img/home-1/350x250-1.jpg' %}" alt="img">
                        </a>
                     </div>
                     <div class="sigma_post-body">
                        <div class="sigma_post-meta">
                           <ul>
                              <li>
                                 <a href="#"><b>Personal</b></a>
                              </li>
                              <li>2 min read</li>
                           </ul>
                        </div>
                        <div class="sigma_post-content">
                           <h5>
                              <a href="blog-details.html">Good furniture is now on sale in showroom in Dec.</a>
                           </h5>
                        </div>
                        <div class="sigma_post-meta">
                           <ul>
                              <li class="author">
                                 <img src="{% static 'web/img/home-1/40x40-1.jpg' %}" alt="author">
                                 <a href="#"><b>Susan Lopez</b></a>
                              </li>
                              <li>
                                 <a href="blog-details.html">Nov 6, 2021</a>
                              </li>
                           </ul>
                        </div>
                     </div>
                  </article>
               </div>
            </div>
         </div>
      </div>
      <!--Section End-->
      <!--Section Start-->
      <div class="modal fade sigma_quick-view-modal" id="quickViewModal" role="dialog" aria-hidden="true">
         <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content">
               <div class="modal-body">
                  <div class="sigma_close" data-dismiss="modal">
                     <span></span>
                     <span></span>
                  </div>
                  <div class="row sigma_product-single">
                     <div class="col-md-6">
                        <div class="sigma_product-single-thumb">
                           <img src="{% static 'web/img/shop/600.jpg' %}" alt="product">
                        </div>
                     </div>
                     <div class="col-md-6">
                        <div class="sigma_product-single-content">
                           <div class="sigma_product-price">
                              <span>352$</span>
                              <span>245$</span>
                           </div>
                           <div class="sigma_rating-wrapper">
                              <div class="sigma_rating">
                                 <i class="fas fa-star active"></i>
                                 <i class="fas fa-star active"></i>
                                 <i class="fas fa-star active"></i>
                                 <i class="fas fa-star active"></i>
                                 <i class="fas fa-star"></i>
                              </div>
                              <span>255 Reviews</span>
                           </div>
                           <hr>
                           <p class="sigma_product-excerpt">
                              Donec sollicitudin molestie malesuada. Nulla porttitor accumsan tincidunt. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec velit neque,
                           </p>
                           <div class="sigma_product-meta">
                              <p><strong>Product SKU: <span>#3382dk</span></strong>
                              </p>
                              <p><strong>Availablity: <span>In Stock</span></strong>
                              </p>
                              <p><strong>Tags: </strong>  <a href="#">Wooden</a>, <a href="#">Carpentry</a>
                              </p>
                           </div>
                           <hr>
                           <form class="sigma_product-atc-form">
                              <div class="sigma_product-buttons d-block">
                                 <a href="product-details.html" class="ml-0 btn-block sigma_btn">Buy Now <i class="far fa-shopping-basket"></i> </a>
                                 <a href="product-details.html" class="ml-0 btn-block sigma_btn light">Wishlist <i class="far fa-heart"></i> </a>
                                 <a href="product-details.html" class="ml-0 btn-block sigma_btn light">Compare <i class="far fa-compress"></i> </a>
                              </div>
                           </form>
                           <!-- Post Meta Start -->
                           <div class="sigma_post-single-meta">
                              <div class="sigma_post-single-meta-item sigma_post-share">
                                 <h5>Share</h5>
                                 <ul class="sigma_sm">
                                    <li>
                                       <a href="#">
                                       <i class="fab fa-facebook-f"></i>
                                       </a>
                                    </li>
                                    <li>
                                       <a href="#">
                                       <i class="fab fa-linkedin-in"></i>
                                       </a>
                                    </li>
                                    <li>
                                       <a href="#">
                                       <i class="fab fa-twitter"></i>
                                       </a>
                                    </li>
                                    <li>
                                       <a href="#">
                                       <i class="fab fa-youtube"></i>
                                       </a>
                                    </li>
                                 </ul>
                              </div>
                           </div>
                           <!-- Post Meta End -->
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!--Section End-->
      
      
{% endblock %}