{% load static %}

<!--Section Start-->
<footer class="sigma_footer sigma_footer-dark">
    <div class="container">
       <div class="sigma_footer-middle text-center">
          <div class="sigma_footer-logo">
             <img src="{% static 'web/img/logo.png' %}" alt="logo">
          </div>
          <ul class="sigma_footer-links">
             <li>
                <a href="{% url 'web:index' %}">Home</a>
             </li>
             <li>
                <a href="{% url 'web:about' %}">About</a>
             </li>
             <li>
                <a href="{% url 'web:gallery' %}">Product</a>
             </li>
             <li>
               <a href="{% url 'web:gallery' %}">Gallery</a>
            </li>
             <li>
                <a href="{% url 'web:contact' %}">Contact</a>
             </li>
          </ul>
          <ul class="sigma_social-icons">
             <li>
                <a href="#"><i class="fab fa-facebook-f"></i></a>
             </li>
             <li>
                <a href="#"><i class="fab fa-twitter"></i></a>
             </li>
             <li>
                <a href="#"><i class="fab fa-instagram"></i></a>
             </li>
          </ul>
          <div class="sigma_footer-copyright">
             <p class="mb-0">© Matanah -
                <a href="#">2022</a>
             </p>
          </div>
       </div>
    </div>
 </footer>
 <!--Section End-->
 <!--Section Start-->
 <div class="sigma_top style-2">
    <i class="far fa-arrow-up"></i>
 </div>
 <!--Section End-->